.banner{
    position: relative;
    /* display: flex; */
    height: 448px;
    object-fit: contain;
    color: white;
    /* align-items: center; */
    
}
.banner_contents{
margin-left:30px ;
padding-top: 140px;
height: 198px;
}
.banner_contents .banner_title{
font-size: 3rem;
font-weight: 800;
padding-bottom: 0.3rem;
}
.banner_contents .banner_buttons{

}
.banner_contents .banner_buttons button{
cursor: pointer;
color: white;
outline: none;
border: none;
font-weight: 700;
border-radius: .2vw;
padding-left: 2rem;
padding-right: 2rem;
margin-right: 1rem;
padding-top: .5rem;
background-color: rgba(51,51,51,.5);
padding-bottom: .5rem;
}
.banner_buttons button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all .2s;
}
.banner_contents .banner_description{
    width: 45rem;
line-height: 1.3rem;
padding-top: 1rem;
font-size: 0.8rem;
max-width: 360px;
height: 80px;



}



.banner .banner--fadeBottom{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}